@model List<CoreDepartman2.Models.Personel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Şehir</th>
            <th>Departman</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var personel in Model)
        {
            <tr>
                <td>@personel.Id</td>
                <td>@personel.Ad</td>
                <td>@personel.Soyad</td>
                <td>@personel.Sehir</td>
                <td>@personel.Birim.Ad</td>
                <td><a href="/Personel/PersonelSil/@personel.Id" class="btn btn-danger">Sil</a></td>
                <td><a href="/Personel/PersonelGetir/@personel.Id" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Personel/YeniPersonel" class="btn btn-warning">Yeni Personel</a>

